.descriptionSection {
  background: #fff;
  padding: var(--spacing-xl) var(--spacing-m);
  /* border: 2px solid red; */
}

.title {
  font-size: var(--font-h2-size, 2rem);
  font-weight: var(--font-h2-weight, 700);
  line-height: var(--font-h2-line-height, 1.4);
  color: var(--font-h2-color, #48525e);
  margin-bottom: var(--spacing-s);
}

.text {
  font-size: var(--font-p-size, 1.15rem);
  font-weight: var(--font-p-weight, 400);
  line-height: var(--font-p-line-height, 1.6);
  color: var(--font-p-color, #6883a1);
  margin-bottom: var(--spacing-m);
}

.buttonRow {
  display: flex;
}
