.primaryButtonStyle {
  background: var(--blue-1);
  color: var(--grey-7);
  border: none;
  border-radius: var(--borderRadius);
  padding: 7px 18px;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.03em;
  box-shadow: 0 1px 4px rgba(104, 131, 161, 0.1);
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;
}

.primaryButtonStyle:hover {
  background: var(--blue-6);
  color: var(--grey-2);
}
